# Backend API URL
VITE_API_URL=http://localhost:5000/api

# Environment
VITE_ENV=development

# App Config
VITE_APP_NAME="Luxury Jewelry Store"
VITE_APP_DESCRIPTION="Cửa hàng trang sức cao cấp"

VITE_GOOGLE_CLIENT_ID=